<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project activeEnvironment="Default environment" name="Flickr" resourceRoot="" soapui-version="5.5.0" id="490ae59a-696a-48b4-848a-d62abab2e8d8" abortOnError="false" runType="SEQUENTIAL" encryptionMode="Not encrypted" updated="3.2.7" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:requirements/><con:properties><con:property><con:name>ApiKey</con:name><con:value>ef5cea4445c2b2fbae8992b103cfc734</con:value></con:property></con:properties><con:wssContainer/><con:databaseConnectionContainer/><con:jmsConnectionContainer/><con:oAuth2ProfileContainer/><con:oAuth1ProfileContainer/><con:sensitiveInformation/><con:authRepository/><con:tags/></con:soapui-project>